#### Removing Data Part II

So, you now have seen how we can fit a model by dropping rows with missing values.  This is great in that sklearn doesn't break! However, this means future observations will not obtain a prediction if they have missing values in any of the columns.

In this notebook, you will answer a few questions about what happened in the last video, and take a few additional steps.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
import RemovingData as t
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')

#Subset to only quantitative vars
num_vars = df[['Salary', 'CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]


num_vars.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
0,NaN,NaN,0.0,NaN,9.0
1,NaN,NaN,NaN,NaN,8.0
2,113750.0,8.0,NaN,9.0,8.0
3,NaN,6.0,5.0,3.0,10.0
4,NaN,6.0,NaN,8.0,NaN

In [34]:
df.info

<bound method DataFrame.info of        Respondent                                       Professional  \
0               1                                            Student
1               2                                            Student
2               3                             Professional developer
3               4  Professional non-developer who sometimes write...
4               5                             Professional developer
...           ...                                                ...
19097       19098                             Professional developer
19098       19099                                            Student
19099       19100  Professional non-developer who sometimes write...
19100       19101                             Professional developer
19101       19102                             Professional developer

                    ProgramHobby         Country      University  \
0                      Yes, both   United States              No
1                      Yes, both  United Kingdom  Yes, full-time
2                      Yes, both  United Kingdom              No
3                      Yes, both   United States              No
4      Yes, I program as a hobby     Switzerland              No
...                          ...             ...             ...
19097  Yes, I program as a hobby          Canada              No
19098  Yes, I program as a hobby           India              No
19099  Yes, I program as a hobby  United Kingdom              No
19100  Yes, I program as a hobby   United States              No
19101  Yes, I program as a hobby          France              No

                                        EmploymentStatus  \
0                 Not employed, and not looking for work
1                                     Employed part-time
2                                     Employed full-time
3                                     Employed full-time
4                                     Employed full-time
...                                                  ...
19097                                 Employed full-time
19098             Not employed, and not looking for work
19099  Independent contractor, freelancer, or self-em...
19100                                 Employed full-time
19101                                 Employed full-time

                                         FormalEducation  \
0                                       Secondary school
1      Some college/university study without earning ...
2                                      Bachelor's degree
3                                        Doctoral degree
4                                        Master's degree
...                                                  ...
19097                                  Bachelor's degree
19098                                   Secondary school
19099                                  Bachelor's degree
19100  Some college/university study without earning ...
19101                                    Master's degree

                                      MajorUndergrad  \
0                                                NaN
1           Computer science or software engineering
2           Computer science or software engineering
3      A non-computer-focused engineering discipline
4           Computer science or software engineering
...                                              ...
19097                          A business discipline
19098                                            NaN
19099       Computer science or software engineering
19100                        A humanities discipline
19101       Computer science or software engineering

                                              HomeRemote  \
0                                                    NaN
1                  More than half, but not all, the time
2      Less than half the time, but at least one day ...
3      Less than half the time, but at least one day ...
4                                                  Never
...                                                  ...
19097                              A few days each month
19098                                                NaN
19099                                              Never
19100  Less than half the time, but at least one day ...
19101  All or almost all the time (I'm full-time remote)

                    CompanySize  ... StackOverflowMakeMoney Gender  \
0                           NaN  ...      Strongly disagree   Male
1            20 to 99 employees  ...      Strongly disagree   Male
2      10,000 or more employees  ...               Disagree   Male
3      10,000 or more employees  ...               Disagree   Male
4            10 to 19 employees  ...                    NaN    NaN
...                         ...  ...                    ...    ...
19097        10 to 19 employees  ...               Disagree   Male
19098                       NaN  ...                    NaN    NaN
19099                       NaN  ...                    NaN    NaN
19100      100 to 499 employees  ...               Disagree   Male
19101      100 to 499 employees  ...                    NaN    NaN

                                 HighestEducationParents  \
0                                            High school
1                                      A master's degree
2                                  A professional degree
3                                      A doctoral degree
4                                                    NaN
...                                                  ...
19097  Some college/university study, no bachelor's d...
19098                                                NaN
19099                                                NaN
19100  Some college/university study, no bachelor's d...
19101                                                NaN

                               Race         SurveyLong QuestionsInteresting  \
0      White or of European descent  Strongly disagree       Strongly agree
1      White or of European descent     Somewhat agree       Somewhat agree
2      White or of European descent     Somewhat agree                Agree
3      White or of European descent              Agree                Agree
4                               NaN                NaN                  NaN
...                             ...                ...                  ...
19097  White or of European descent     Somewhat agree                Agree
19098                           NaN                NaN                  NaN
19099                           NaN                NaN                  NaN
19100  White or of European descent     Somewhat agree       Somewhat agree
19101                           NaN                NaN                  NaN

      QuestionsConfusing InterestedAnswers    Salary  ExpectedSalary
0               Disagree    Strongly agree       NaN             NaN
1               Disagree    Strongly agree       NaN         37500.0
2               Disagree             Agree  113750.0             NaN
3         Somewhat agree    Strongly agree       NaN             NaN
4                    NaN               NaN       NaN             NaN
...                  ...               ...       ...             ...
19097           Disagree             Agree       NaN             NaN
19098                NaN               NaN       NaN             NaN
19099                NaN               NaN       NaN             NaN
19100           Disagree             Agree  110000.0             NaN
19101                NaN               NaN       NaN             NaN

[19102 rows x 154 columns]>

#### Question 1

**1.** What proportion of individuals in the dataset reported a salary?

In [13]:
prop_sals = 1 - num_vars.isnull()['Salary'].mean()

prop_sals

0.26222385090566436

In [14]:
t.prop_sals_test(prop_sals) #test

Nice job! That looks right!

#### Question 2

**2.** Remove the rows associated with nan values in Salary (only Salary) from the dataframe **num_vars**.  Store the dataframe with these rows removed in **sal_rem**.

In [16]:
sal_rm = num_vars.dropna(subset=['Salary'], axis=0)
sal_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
2,113750.0,8.0,NaN,9.0,8.0
14,100000.0,8.0,NaN,8.0,8.0
17,130000.0,9.0,NaN,8.0,8.0
18,82500.0,5.0,NaN,3.0,NaN
22,100764.0,8.0,NaN,9.0,8.0

In [35]:
sal_rm.info

<bound method DataFrame.info of              Salary  CareerSatisfaction  HoursPerWeek  JobSatisfaction  \
2      113750.00000                 8.0           NaN              9.0
14     100000.00000                 8.0           NaN              8.0
17     130000.00000                 9.0           NaN              8.0
18      82500.00000                 5.0           NaN              3.0
22     100764.00000                 8.0           NaN              9.0
...             ...                 ...           ...              ...
19079   65000.00000                10.0           0.0              8.0
19086   80645.16129                10.0           NaN              8.0
19088   41250.00000                 8.0           NaN              8.0
19089   50500.00000                 7.0          30.0              6.0
19100  110000.00000                 8.0           NaN              9.0

       StackOverflowSatisfaction
2                            8.0
14                           8.0
17                           8.0
18                           NaN
22                           8.0
...                          ...
19079                       10.0
19086                       10.0
19088                        9.0
19089                        9.0
19100                        9.0

[5009 rows x 5 columns]>

In [17]:
t.sal_rm_test(sal_rm) #test

Nice job! That looks right!

#### Question 3

**3.** Using **sal_rm**, create **X** be a dataframe (matrix) of all of the numeric feature variables.  Then, let **y** be the response vector you would like to predict (Salary).  Run the cell below once you have split the data, and use the result of the code to assign the correct letter to **question3_solution**.

In [22]:
X = sal_rm.drop('Salary', axis=1)
y = sal_rm['Salary']

# Split data into training and test data, and fit a linear model
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=.30, random_state=42)
lm_model = LinearRegression()

# If our model works, it should just fit our model to the data. Otherwise, it will let us know.
try:
    lm_model.fit(X_train, y_train)
except Exception as e:
    print("Oh no! It doesn't work!!!")
    print(e)

Oh no! It doesn't work!!!
Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [23]:
a = 'Python just likes to break sometimes for no reason at all.' 
b = 'It worked, because Python is magic.'
c = 'It broke because we still have missing values in X'

question3_solution = c#Letter here

#test
t.question3_check(question3_solution)

Nice job! That's right! Those missing values in the X matrix will still not allow us to predict the response.

#### Question 4

**4.** Remove the rows associated with nan values in any column from **num_vars** (this was the removal process used in the screencast).  Store the dataframe with these rows removed in **all_rem**.

In [24]:
all_rm = num_vars.dropna()

all_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
25,175000.000000,7.0,0.0,7.0,9.0
34,14838.709677,10.0,1.0,8.0,10.0
52,15674.203822,6.0,4.0,5.0,8.0
57,43010.752688,10.0,2.0,6.0,10.0
70,65000.000000,8.0,2.0,5.0,7.0

In [25]:
t.all_rm_test(all_rm) #test

Nice job! That looks right.  The default is to drop any row with a missing value in any column, so we didn't need to specify any arguments in this case.

#### Question 5

**5.** Using **all_rm**, create **X_2** be a dataframe (matrix) of all of the numeric feature variables.  Then, let **y_2** be the response vector you would like to predict (Salary).  Run the cell below once you have split the data, and use the result of the code to assign the correct letter to **question5_solution**.

In [27]:
X_2 = all_rm.drop('Salary', axis=1)
y_2 = all_rm['Salary']

# Split data into training and test data, and fit a linear model
X_2_train, X_2_test, y_2_train, y_2_test = train_test_split(X_2, y_2 , test_size=.30, random_state=42)
lm_2_model = LinearRegression()

# If our model works, it should just fit our model to the data. Otherwise, it will let us know.
try:
    lm_2_model.fit(X_2_train, y_2_train)
except:
    print("Oh no! It doesn't work!!!")

In [29]:
a = 'Python just likes to break sometimes for no reason at all.' 
b = 'It worked, because Python is magic.'
c = 'It broke because we still have missing values in X'

question5_solution = b #Letter here

#test
t.question5_check(question5_solution)

Nice job! That's right! Python isn't exactly magic, but sometimes it feels like it is!

#### Question 6

**6.** Now, use **lm_2_model** to predict the **y_2_test** response values, and obtain an r-squared value for how well the predicted values compare to the actual test values.

In [32]:
y_test_preds = lm_2_model.predict(X_2_test)
r2_test = r2_score(y_2_test, y_test_preds)

# Print r2 to see result
r2_test

0.019170661803762146

In [31]:
t.r2_test_check(r2_test)

Oops!  That wasn't the value that was expected.  You should fit your model using the training data, predict on the X_test data, and then score comparing the y_test and your predicted values.

#### Question 7

**7.** Use what you have learned **from the second model you fit** (and as many cells as you need to find the answers) to complete the dictionary with the variables that link to the corresponding descriptions.

In [42]:
a = 5009
b = 'Other'
c = 645
d = 'We still want to predict their salary'
e = 'We do not care to predict their salary'
f = False
g = True

question7_solution = {'The number of reported salaries in the original dataset': a,#Letter here,
                       'The number of test salaries predicted using our model': c,#Letter here,
                       'If an individual does not rate stackoverflow, but has a salary': d,#Letter here,
                       'If an individual does not have a a job satisfaction, but has a salary': d,#Letter here,
                       'Our model predicts salaries for the two individuals described above.': f}#Letter here}
                      
                      
#Check your answers against the solution - you should be told you were right if your answers are correct!                     
t.question7_check(question7_solution)

Nice job! That looks right to me!  We would really like to predict for anyone who provides a salary, but our model right now definitely has some limitations.

In [ ]:
#Cell for work

In [ ]:
#Cell for work